html{
    height: 100%;
    background-color: #2f2f2f;
}

body{

    font-family: sans-serif;
    height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    padding: 10px;
    height: 5%;
    color: #aae0e0;
    font-size: medium;
}


.top-bar label {
    display: flex;
    align-items: center;
}

.top-bar input[type="checkbox"] {
    margin-right: 5px;
}

.chat-box {
    height: 80%; /* Adjust according to your layout */
    display: flex;
    flex-direction: column;
}

.chat-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    overflow: auto;

}


.chat-message {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5;
}

.chat-message.user {
    justify-content: flex-start;
    flex-direction: row-reverse;
    color: black; /* Change to desired user message text color */
}

.chat-message.bot {
    justify-content: flex-start;
    flex-direction: row;
    color: black; /* Change to desired bot message text color */
}


.chat-message img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.bubble-container {
    max-width: 250px; /* Adjust this value as needed */
    background-color: #f0f0f0; /* Adjust this value as needed */
    border-radius: 10px; /* Adjust this value as needed */
    padding: 10px; /* Adjust this value as needed */
    margin-bottom: 10px; /* Adjust this value as needed */
}


.chat-message.user .bubble-container {
    background-color: #e5fafd;
}


.chat-message.bot .bubble-container {
    background-color: #ffffff;
    color: white;
    width: 100%;
}
.chat-message.bot .text-container {
    color:white;
}

.chat-message audio {
    width: 100%;
}


.chat-message div {
    order: 1;
}

.chat-message audio {
    order: 2;
}




.chat-functions {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 2%;
}

.chat-functions button {
    width: 20%; /* adjust this to the percentage of screen width you want */
    height: auto; /* this will make the height adjust based on the content and padding */
    padding: 1vw; /* adjust padding as needed */
    border: 2px solid #fefefe; /* change #fff to any color that is opposite of the body background color */
    color: #fefefe; /* change #fff to any color that is opposite of the body background color */
    background-color: transparent;
    border-radius: 10px; /* adjust this value to get the desired curve on the corners */
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.control-functions button:hover {
    background-color: #fefefe; /* change #fff to any color that is opposite of the body background color */
    color: #fefefe; /* change #000 to your body background color */
}



.input-bar {
    margin-top: 3%;
    height: 10%;
    width: 100%;
    background-color: #f6f3f3 ; 
    padding-bottom: 1%;
    display: flex;
    align-items: center; 
}

.input-bar button:not(#record) {
    flex: 0 0 auto;
    width: 10%;
    height: 80%;
    background-color: transparent; 
    margin: 0 1vw; 
    border: none;
}

.input-bar button:not(#record) img{
    width: 50%;
    height: 50%;
}
#textForm{
    height: 80%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#textForm textarea{
    font-size: 7vh;
    line-height: 7vh;
}

#textForm *{
    height: 8vh;
    width: 60vw;
    border: none;
    outline: none;
    border: black 1px solid;
}